.remove-mar-top {  margin-top: 0!important;  }
.remove-mar-bottom {  margin-bottom: 0!important;  }
.no-margin {  margin: 0!important;  }
.remove-pad-top {  padding-top: 0!important;  }
.remove-pad-bottom {  padding-bottom: 0!important;  }
.no-padding {  padding: 0!important; }

#page_outter{
  overflow-x: hidden;
}

.vc_row_kt{
  @include clearfix();
}

.content-area-inner{
  padding: 90px 0;
}

/* ==============================
   Header
   ============================== */
.topbar {
  border-bottom: 1px solid $border-color;
  text-align: center;
  position: relative;
  z-index: 30;
  padding: 5px 0;
  font-size: 12px;
  .topbar-left {
    text-align: left;
  }
  .topbar-right {
    text-align: right;
  }
}



.branding{
  float: left;
  .site-logo{
    margin: 0;
    font-size: 14px;
    display: inline-block;
    font-weight: bold;
  }
  .header-branding-text,
  #site-description{
    display: none;
  }
  .retina-logo{
    display: none;
  }
  &:not(.branding-mobile){
    .header-light &{
      .default-logo,
      .retina-default-logo{
        display: none;
      }
    }
    .header-dark &{
      .light-logo,
      .light-retina-logo{
        display: none;
      }
    }
  }

  &.branding-default{
    margin: $logo-margin;
    img{
      width: $logo-width;
    }
  }

  &.branding-mobile{
    margin: $logo-margin-mobile;
    img{
      width: $logo-mobile-width;
    }
  }

}


#header-content-mobile{
  padding: 0 15px;
  display: none;
  @include box-shadow(0, 2px, 6px, rgba(0, 0, 0, 0.05));

  .header-content-mobile-inner{
    position: relative;
    @include clearfix();
  }
  .branding-mobile{
    float: left;
  }
  .header-mobile-tools{
    right: 0;
    @include translate(y);
    a{
      display: block;
      float: right;
      line-height: 32px;
      margin-left: 10px;
      font-size: 18px;
      &:last-child {
        margin: 0;
      }
      &.cart-mobile {
        position: relative;
        margin-right: 6px;

        span.text,
        span.subtotal{
          display: none;
        }
        span.amount{
          background: $primary-color;
          border-radius: 50%;
          color: $white;
          @include border-radius(50%);
          font-family: $extra-font;
          font-size: 10px;
          height: 16px;
          line-height: 16px;
          position: absolute;
          right: -12px;
          text-align: center;
          top: -2px;
          width: 16px;
        }
      }
    }
  }
}








.header-container{
  position: relative;
  z-index: 100;
}

.header-content{
  position: relative;
  z-index: 20;
  &.header-shadow{
    @include box-shadow(0, 2px, 4px, rgba(0, 0, 0, 0.01));
  }
}

.navbar-container-inner{
  position: relative;
}


.header-layout1{
  .navbar-container-content{
    position: relative;
  }
  #nav{
    .main-nav-outer{
      float: right;
    }
  }
}

.header-layout4,
.header-layout6{
  .navbar-container-content{
    position: relative;
  }
  .navbar-container-inner{
    padding: 0 40px;
  }
  .branding-default{
    float: left;
    margin-right: 40px!important;
    position: relative;
    z-index: 1;
  }
  #nav{
    #main-nav-tool{
      position: absolute;
      right: 0;
      top: 0;
      margin: 0;
      display: none;
    }
  }
}

.header-layout2{
  .header-top-inner{
    @include clearfix();
    border-bottom: 1px solid $gray-bg;
  }

  .header-branding-text{
    vertical-align: middle;
    color: $primary-color;
    font-size: 12px;
    margin-left: 40px;
    display: inline-block;
  }
  #header-searchform{
    float: right;
    margin: 25px 0;
    width: 365px;
  }
  .searchform{
    input[type="text"]{
      border-width: 1px;
    }
  }
  #nav{
    #main-navigation{
      float: left;
    }
  }
}

.header-layout3{
  #header{
    .header-top-left{
      position: static;
    }
    .header-top-center{
      text-align: center;
    }
    .branding{
      float: none;
    }

    #main-navigation{
      float: left;
    }
    #main-nav-wc{
      float: right;
      margin: 0;
      > li{
        &.shopping-bag{
          > a{
            padding-right: 10px;
            position: relative;
            span.amount{
              font-size: 10px;
              position: absolute;
              top: -5px;
              right: 0;
              line-height: 1;
            }
          }
        }
        a{
          i,
          .subtotal{
            display: none;
          }
          span.text,
          span.amount{
            display: inline;
          }
        }
      }
    }
  }
}




.header-layout4{
  #nav{
    position: relative;
    .main-nav-outer{
      float: none;
    }
    #main-navigation{
      float: left;
    }
    #main-nav-wc{
      > li:last-child{
        > a{
          padding-right: 0;
        }
      }
    }
  }
}
.header-layout5{
  .header-top{
    position: relative;
    z-index: 30;
    .header-top-ct{
      border-bottom: 2px solid $gray-bg;
      position: relative;
      padding: 50px 0;
    }
    .header-top-left{
      text-align: left;
    }
    .header-top-center{
      text-align: center;
      .branding{
        float: none;
      }
    }
    .header-top-right{
      text-align: right;

    }
  }
  #header{
    #main-navigation{
      float: none;
      text-align: center;
    }
    #main-nav-tool{
      margin: 0;
      > li > a{
        line-height: normal!important;
      }
    }
  }
}

.header-layout6{
  #header{
    #main-navigation{
      float: left;
    }
  }
}


.header-layout7{
  .navbar-container-inner{
    padding: 0 40px;
  }
  .navbar-container-content{
    position: relative;
  }
  #nav{
    #main-nav-tool{
      position: absolute;
      right: 0;
      top: 0;
    }
    #main-navigation{
      float: right;
    }
  }
}

.content-header-9{
  #header{
    .top-menu{
      display: inline-block;
      height: 35px;
      text-align: center;
      width: 100%;
      ul#main-navigation{
        float:left;
      }
    }

  }

}




.header-sticky-background{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
  @include opacity(.95);
  @include box-shadow(0, 2px, 6px, rgba(0, 0, 0, 0.05));
  background: #FFF;
}

#header {
  .is-sticky {
    .apply-sticky {
      position: fixed !important;
      width: 100%;
      top: 0;
      z-index: 1001;
      @include transition();
      #main-nav-wc,
      #main-nav-tool,
      #main-navigation {
        > li {
          > a {
            line-height: $navbar-height-sticky;
          }
        }
      }
      .branding-default {
        margin: $logo-margin-sticky;
        width: $logo-sticky-width;
      }

      .header-sticky-background {
        visibility: visible;
      }
    }
    &.sticky {
      .apply-sticky {
        border-color: transparent;
      }
      .apply-sticky {
        top: 0 !important;
      }
    }
  }
}

.sticky-header-down{
  .apply-sticky{
    top: -$navbar-height-sticky;
  }
}

.admin-bar{
  #header {
    .is-sticky{
      .apply-sticky{
        top: 32px;
      }
      &.sticky{
        .apply-sticky{
          top: 32px!important;
        }
      }
    }
  }
}


.header-transparent{
  .header-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: none;
  }
  .topbar{
    background: none;
  }
}

/* ==============================
   Footer
   ============================== */
#instagram-footer{
  text-align: center;


  &.instagram-footer-gallery,
  &.instagram-footer-full{
    .widget.null-instagram-feed{
      margin: 0;
      .widget-title{
        display: none;
      }
      .instagram-pics{
        margin: 0;
        li{
          padding: 0;
        }
      }
    }
  }

  &.instagram-footer-gallery{
    .widget.null-instagram-feed{
      .instagram-pics{
        position: relative;
        li{
          &:nth-of-type(3) {
            width: 33.3333%;
          }
          &:nth-child(n+6){
            position: absolute;
            top: 50%;
            left: 0;
          }
          &:nth-of-type(7) {
            left: 16.6666%;
          }
          &:nth-of-type(8) {
            left: 66.6664%;
          }
          &:nth-of-type(9) {
            right: 0;
            left: auto;
          }
        }
      }
    }
  }

  &.instagram-footer-space{
    padding-bottom: 100px;
    .widget.null-instagram-feed{
      .widget-title{
        margin-bottom: 50px;
      }
      .instagram-pics{
        margin: 0 -15px;
        li{
          padding: 0 15px;
        }
      }
    }
  }




  .widget.null-instagram-feed{
    p.clear{
      display: none;
    }
    .instagram-pics{
      padding: 0;
      li{
        width: 16.6666%;
        margin: 0;
      }
    }
  }
}
#footer-top{
  background: $primary-color;
  padding: 55px 0;
  color: $white;
  .footer-top-bg{
    width: 160px;
    height: 160px;
    left: -77px;
    @include translate(y);
    background: url("../images/footer-top-bg.png") no-repeat center center;
  }
  .footer-top-inner{
    position: relative;
  }
}
#footer-area{
  position: relative;
  background: #2b2b2b;
  padding: 95px 0 65px;
  .footer-area-one{
    text-align: center;
    p{
      margin-bottom: 15px;
    }
  }
  .widget{
    margin-bottom: 22px;
    border: none;
    padding: 0;
    .widget-title{
      text-transform: uppercase;
      margin: 0 0 20px;
      color: #FFF;
      font-size: 14px;
    }
  }
}
#footer-bottom{
  padding: 25px 0;
  background: #222222;
  .widget{
    .widget-title{
      margin: 10px 0;
      text-transform: uppercase;
    }
  }
  .social-nav{
    margin-top: 14px;
  }
}

#footer-copyright {
  padding: 25px 0;
  line-height: 24px;
  font-size: 12px;
  color: $white;
  font-weight: bold;
  background: #222222;
  .socials-icon-wrapper{
    margin: 0;
  }
  .footer-left {
    text-align: left;
  }
  .footer-center{
    text-align: center;
  }
  .footer-right {
    text-align: right;
  }
  .footer-centered {
    text-align: center;
    .socials-icon-wrapper,
    #bottom-nav,
    .footer-copyright{
      margin-bottom: 15px;
    }
    > *:last-child{
      margin-bottom: 0;
    }
  }
  .navigation_socials{
    .socials-icon-wrapper,
    #bottom-nav{
      vertical-align: middle;
      display: inline-block;
    }
    .socials-icon-wrapper{
      margin-left: 33px;
    }
  }

  .kt-mailchimp-wrapper{
    margin-bottom: 0;
  }
}

#bottom-nav{
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    > li{
      display: inline-block;
      padding: 0 12px;
      &:first-child{
        padding-left: 0;
      }
      &:last-child{
        padding-right: 0;
      }
    }
  }
}





#search-fullwidth {
  background: #ffffff;
  margin: 0 auto;
  max-width: 1170px;
  padding: 70px 200px;
  position: relative;

  button.mfp-close{
    color: #000000;
    font-size: 0;
    right: 15px;
    top: 15px;
    &:before{
      font-size: 18px;
      @include FontIcon('\f00d');
      @include translate(c);
    }
  }
  .searchform{
    input[type=text] {
      border: none;
      border-bottom: 2px solid $border-color;
      padding: 10px 0;
      height: auto;
      font-size: 14px;
      letter-spacing: 0.075em;
    }
    button{
      font-size: 14px;
    }
  }
}


/* ==============================
   Page loader
   ============================== */
.pace {
  background: #FFFFFF;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  visibility: visible;
  width: 100%;
  z-index: 999999;
  text-align: center;
  @include opacity(1);
  @include css3-prefix('pointer-events', 'none');
  @include css3-prefix(user-select, 'none');
  @include css3-prefix(background-clip, 'padding-box');
  @include transition();
  &.pace-inactive {
    visibility: hidden;
    @include opacity(0);
  }
}

.pace-activity {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  &:before{
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .page-loading-wrapper{
    display: inline-block;
  }
}

.page-loading-wrapper {
  display: none;
  vertical-align: middle;
  padding: 0 15px;
  width: 99%;
  .progress-bar-loading {
    width: 110px;
    margin: 0 auto;
    height: 105px;
    float: none;
    @include border-radius-separate(13px, 13px, 13px, 13px);
    background: #fff;
    max-width: 100%;
    position: relative;
    .progress-bar-inner{
      position: absolute;
      left: 0;
      top: 0;
      width: 110px;
      overflow: hidden;
      &.back-loading{
        path{
          fill: #eeeeee;
        }
      }
      &.front-loading{
        width: 1%;
        @include transition();
        path{
          fill: #000000;
        }
      }
    }
    .progress-bar-number{
      font-family: $heading-font;
      color: #000000;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0.075em;
      line-height: 1;
      padding-left: 30px;
      text-align: center;
    }
    svg{
      width: 110px;
      path{
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
      }
    }
  }
}



/* ==============================
   Popup Newletter
   ============================== */

.header-subscribe-form{
  background: $white;
  margin: 20px auto;
  position: relative;
  max-width: 900px;
}

.popup-wrap-newletter{
  margin: 20px auto;
  position: relative;
  max-width: 900px;
  .mfp-close{
    right: -28px;
    background: $white;
    @include opacity(1);
    &:active{
      top: 0;
    }
  }
  .wrapper-newletter-content{
    position: relative;
    background: #fff;
  }
  .newletter-popup-content{
    padding: 50px 55px 35px 55px;
    text-align: center;
    color: $gray-text;
  }

  .cruxstore-mailchimp-wrapper{
    margin-bottom: 0;
  }

  h3{
    letter-spacing: .2em;
  }

  .mailchimp-form{
    .mailchimp-error,
    .mailchimp-success{
      margin-top: 5px;
    }
  }
}

/* ==============================
   Main Slideshow
   ============================== */
#main-slideshow{
  position: relative;
  .searchform-wrap{
    @include translate(x);
    bottom: 200px;
  }
  .searchform-inner{
    max-width: 968px;
    margin: 0 auto;
  }
  .searchform{
    margin-left: -15px;
    margin-right: -15px;
    .wrap_product_cat,
    button,
    input[type="text"]{
      float: left;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
      position: relative;
    }
    input[type="text"]{
      width: 50%;
    }
    .wrap_product_cat,
    button{
      display: block;
      width: 25%;
    }
    input[type="text"],
    .wrap_product_cat select{
      background-color: $white;
      border-color: $white;
      font-size: 12px;
    }

    button{
      position: static;
      @include transform(translateY(0));
      font-weight: bold;
      font-size: 12px;
      i{
        display: none;
      }
      span{
        display: block;
        background: $primary-color;
        color: $white;
        line-height: 40px;
        text-transform: uppercase;
        letter-spacing: .2em;
        font-weight: bold;
        @include transition();
      }
      &:hover{
        span{
          background: $black;
        }
      }
    }
  }
}

/* ==============================
   Back To Top
   ============================== */

#back-to-top{
  width: 50px;
  height: 50px;
  background: #fff;
  text-align: center;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 100;
  cursor: pointer;
  display: none;
  @include box-shadow(0, 2px, 4px, rgba(0, 0, 0, 0.12));
  color: #000000;
  i{
    font-size: 18px;
    line-height: 50px;
    @include transition(all 0.4s ease);
  }
  &:hover{
    i{
      @include transform(scale(1.5));
    }
  }
}


.global-header{
  background: $primary-color;
  color: $white;
  padding: 8px 0;
  font-size: 12px;
  .global-header-2{
    text-align: center;
  }
  .global-header-3{
    text-align: right;
  }
  .textwidget{
    > i{
      padding-right: 10px;
    }
  }
}

.footer-advanced-js{
    height: 0px; 
    overflow: hidden; 
    position: relative;
}